* {
    outline: none;
}
a,
button {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: 1s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1200px!important;
    width: 100%;
}

/* MENU */
.navbar-default {
    background: #fff;
    border-color: transparent;
    height: 130px;
    border-radius: 0;
    margin-bottom: 0px;
    border: none;
}
.navbar-header .navbar-brand {
    height: 130px;
    display: flex;
    align-items: center;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}
.logo-branca {
    display: none!important;
}
#bs-example-navbar-collapse-1 {
    float: right;
    height: 130px;
    padding: 0;
}
.navbar-header img {
    margin-left: 15px;
}
header ul.nav {
    height: 130px;
    display: flex;
    align-items: center;
}
header ul.nav>li:first-child:before,
header ul.nav>li:last-child:before {
    display: none;
}
header ul.nav>li:before {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    background: #b1b1b1;
    border-radius: 50px;
    float: left;
    position: relative;
    top: 7px;
}
header ul.nav>li>a {
    font-size: 12px;
    color: #b1b1b1!important;
    text-transform: uppercase;
    padding: 0 15px 0 20px;
}
header ul.nav>li>a:hover {
    color: #444444!important;
}
header ul.nav>li.redes-sociais {
    display: flex;
}
header ul.nav>li.redes-sociais>a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    background: #b1b1b1;
    border-radius: 5px;
    padding: 0!important;
}
header ul.nav>li.redes-sociais>a:hover {
    background: #444444!important;
}
header ul.nav>li.redes-sociais>a:last-child {
    margin-left: 5px;
}
header ul.nav>li.redes-sociais>a .fa {
    font-size: 14px;
    color: #fff!important;
}

/* VITRINE */
.vitrine img {
    height: 370px;
    object-fit: cover;
}
.vitrine .owl-item:nth-child(1) .conteudo {
    background: rgba(244, 191, 35, .6);
}
.vitrine .owl-item:nth-child(2) .conteudo {
    background: rgba(84, 128, 249, .6);
}
.vitrine .owl-item:nth-child(3) .conteudo {
    background: rgba(209, 62, 49, .6);
}
.vitrine .owl-item:nth-child(4) .conteudo {
    background: rgba(100, 171, 85, .6);
}
.vitrine .conteudo {
    text-align: center;
    width: 100%;
    height: 370px;
    margin-top: -390px;
    position: relative;
    display: flex;
    align-items: center;
}
.vitrine .conteudo div {
    max-width: 710px;
    width: 100%;
    margin: 0 auto;
}
.vitrine h1 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
}
.vitrine h4 {
    font-size: 17px;
    color: #fff;
    margin: 0;
}
.vitrine .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: 20px;
}
.vitrine .owl-dot {
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.vitrine .owl-dot:nth-child(1) span {
    background: rgba(244, 191, 35, 1);
}
.vitrine .owl-dot:nth-child(2) span {
    background: rgba(84, 128, 249, 1);
}
.vitrine .owl-dot:nth-child(3) span {
    background: rgba(209, 62, 49, 1);
}
.vitrine .owl-dot:nth-child(4) span {
    background: rgba(100, 171, 85, 1);
}
.vitrine .owl-dot span {
    width: 14px;
    height: 14px;
    margin: 5px 7px;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.vitrine .owl-dot.active span:before,
.vitrine .owl-dot:hover span:before {
    content: "";
    position: relative;
    width: 22px;
    top: -4px;
    left: -4px;
    height: 22px;
    display: flex;
    border: 2px solid #bdbdbd;
    border-radius: 30px;
}

/* INFOGRAFICO */
.infografico {
    height: 340px;
    background: #f5f5f5;
    margin-top: -50px;
    padding-top: 70px;
}
.flip {
    position: relative;
    width: 100%;
}
.flip-1 .front {
    background: rgba(244, 191, 35, 1);
}
.flip-2 .front {
    background: rgba(84, 128, 249, 1);
}
.flip-3 .front {
    background: rgba(209, 62, 49, 1);
}
.flip-4 .front {
    background: rgba(100, 171, 85, 1);
}
.flip-1 > .back {
    border: 1px solid #f4bf23;
}
.flip-2 > .back {
    border: 1px solid #5480f9;
}
.flip-3 > .back {
    border: 1px solid #d13e31;
}
.flip-4 > .back {
    border: 1px solid #64ab55;
}
.flip > .front,
.flip > .back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    border-radius: 10px;
    padding: 0 10px;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 1s;
    transition-property: transform, opacity;
}
.flip > .front {
    transform: rotateY(0deg);
}
.flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
    background: #f5f5f5;
}
.flip:hover > .front {
    transform: rotateY(180deg);
}
.flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
    transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
    transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
    transform: rotateX(0deg);
}
.flip > .front h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}
.flip > .back p {
    font-size: 14px;
    color: #b1b1b1;
    margin: 0;
}

.itens {
    padding: 50px 0;
}
.itens .item {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e7e7e7;
}
.itens h2 {
    font-size: 20px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 30px;
    display: flex;
    align-items: center;
}
.itens h2 img {
    width: 55px;
    height: auto;
    margin-right: 15px;
}
.itens img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.itens span {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #5480f9;
}
.itens span:after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    background: #5480f9;
    margin-top: 5px;
}
.itens h4 {
    font-size: 16px;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
    margin: 20px 0 0;
}
.itens .btn-geral {
    font-size: 12px;
    color: #fff;
    text-align: center;
    width: 80%;
    border-radius: 5px;
    padding: 10px 0;
    display: table;
    margin: 30px auto 0;
}
.itens .btn-geral:hover {
    background: #444444;
}
.itens .btn-azul {
    background: #5480f9;
}
.itens .btn-vermelho {
    background: #d13e31;
}
.itens h3 {
    font-size: 16px;
    font-weight: 700;
    color: #ff0000;
    text-transform: uppercase;
    margin: 20px 0;
}
.itens h3:after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    background: #d13e31;
    margin-top: 5px;
}
.itens p {
    font-size: 14px;
    color: #444444;
    margin: 0;
}

/* FALE CONOSCO */
.fale-conosco {
    background: #64ab55;
    padding: 60px 0;
}
.fale-conosco h2 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px;
}
.fale-conosco form {
    background: #fff;
    padding: 30px 60px;
}
.fale-conosco label {
    font-size: 12px;
    color: #7b7b7b;
}
.fale-conosco button {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background: #64ab55;
    padding: 10px 60px;
    display: table;
    margin: 20px auto 0;
    border: none;
    border-radius: 5px;
}
.fale-conosco button:hover {
    background: #444444;
}
@-webkit-keyframes oddTAnime {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes oddTAnime {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes oddTAnime { 
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
.oddT-text {
    border: solid 2px #ccd4ea;
    background: transparent;
    color: #ccd4ea;
    border-radius: 5px;
    height: auto;
    padding: 10px 12px;
    width: 100%;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.oddT-text:focus {
    border-color:#64ab55;
    background:#fff;
    color:#444;
}
.input-group.oddT-group .input-group-addon {
    background:#BFE1DD;
    border-color:rgba(0,0,0,.05);
    color: #596061;
    border-radius:0px 0 0 0px;
}
.form-group.has-error .oddT-text {
    border-color:#c0392b;
    background:rgba(192, 57, 43, .02);
}
.form-group.has-success .oddT-text {
    border-color:#2ecc71;
    background:rgba(46, 204, 113, .02);
}
.form-group.has-warning .oddT-text {
    border-color:#f39c12;
    background:rgba(243, 156, 18, .02);
}
.oddT-alt .input-group.oddT-group {
    border-radius:2px;
}
.oddT-alt .input-group.oddT-group .input-group-addon {
    border-radius:2px 0 0 2px;
    border:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.oddT-icon-left i {
    margin-right:15px;
    margin-left:-15px;
}
.oddT-icon-input,
.oddT-button-input {
    position: relative;
}
.oddT-icon-input i {
    position:absolute;
    right:14px;
    top:50%;
    font-size: 20px;
    line-height:20px;
    color: #444444;
    margin-top:-10px;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
}
.oddT-icon-input textarea + i {
    top:11px;
    margin:0;
}
.oddT-icon-input .oddT-text:focus + i {
    color: #64ab55;
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
.oddT-button-input .input-btn:hover {
    opacity:1;
    filter:Alpha(opacity=100);
}

.menu-footer {
    background: #bebebe;
    padding: 30px 0;
}
.menu-footer ul.nav {
    display: flex;
    align-items: center;
}
.menu-footer ul.nav>li:first-child:before {
    display: none;
}
.menu-footer ul.nav>li:before {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    background: #fff;
    border-radius: 50px;
    float: left;
    position: relative;
    top: 7px;
}
.menu-footer ul.nav>li>a {
    font-size: 12px;
    color: #fff!important;
    text-transform: uppercase;
    padding: 0 15px 0 20px;
}
.menu-footer ul.nav>li>a:hover {
    color: #444444!important;
}
.menu-footer .nav>li>a:focus,
.menu-footer .nav>li>a:hover {
    background-color: transparent;
}
.menu-footer ul.nav>li:first-child>a {
    padding: 0 15px 0 0;
}
.menu-footer ul.nav>li.redes-sociais {
    display: flex;
}
.menu-footer ul.nav>li.redes-sociais>a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    background: #fff;
    border-radius: 5px;
    padding: 0!important;
}
.menu-footer ul.nav>li.redes-sociais>a:hover {
    background: #444444!important;
}
.menu-footer ul.nav>li.redes-sociais>a:last-child {
    margin-left: 5px;
}
.menu-footer ul.nav>li.redes-sociais>a .fa {
    font-size: 14px;
    color: #bebebe!important;
}

footer {
    background: url(../images/bg-footer.jpg) no-repeat;
    background-position: bottom center;
    background-size: cover;
    width: 100%;
    height: 136px;
    display: flex;
    align-items: center;
}
footer span {
    font-size: 13px;
    font-weight: 300;
    color: #444444;
}
footer a {
    font-size: 12px;
    color: #666666;
}
footer img {
    margin-left: 10px;
}

/* QUEM SOMOS */
.bg-interna {
    background: url(../images/bg-interna.jpg) no-repeat;
    background-position: bottom center;
    background-size: cover;
    width: 100%;
    height: 133px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-interna h1 {
    font-size: 30px;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
    margin: 0;
}
.topo-interna .breadcrumb {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}
.topo-interna .breadcrumb>li:first-child:before {
    display: none;
}
.topo-interna .breadcrumb>li:before {
    content: "";
    width: 5px;
    height: 5px;
    display: block;
    background: #b1b1b1;
    border-radius: 50px;
    float: left;
    position: relative;
    top: 7px;
    padding: 0;
    margin: 0 10px;
}
.topo-interna a {
    font-size: 14px;
    color: #444444;
    text-transform: uppercase;
}
.topo-interna a:hover {
    color: #b1b1b1;
}
.topo-interna .breadcrumb>.active {
    font-size: 14px;
    color: #b1b1b1;
    text-transform: uppercase;
}

.interna {
    padding: 10px 0 60px;
}
.titulo-interna {
    font-size: 24px;
    font-weight: 700;
    color: #d13e30;
    margin: 0 0 20px;
}
.interna p {
    font-size: 16px;
    color: #444444;
    text-align: justify;
    margin-bottom: 15px;
}
.interna i {
    font-weight: 300;
}
.img-videos {
    height: 320px!important;
}
.iframe-geral {
    margin: 50px auto;
    display: block;
}
.quem-somos .item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.quem-somos img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 30px;
    border: 10px solid #dcdcdc;
}

.videos h2 {
    font-size: 18px;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
    margin: 20px 0;
}
.videos h2:after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    background: #d13e31;
    margin-top: 5px;
}

.interna-noticia img {
    width: 40%;
    height: auto;
    margin: 30px 20px 10px 0;
    float: left;
}

/* --- MOBILE --- */
@media (max-width: 767px) {
    .navbar-header img {
        width: 220px;
    }
    #bs-example-navbar-collapse-1 {
        float: none;
        background: #fff;
        z-index: 300;
        position: relative;
        min-height: 300px;
        height: 100%;
        padding: 10px 30px;
        width: 100%;
        margin: 0 auto;
        top: -44px;
    }
    .navbar-toggle {
        padding: 15px 15px;
        margin-top: 40px;
    }
    .navbar-header {
        height: 90px;
    }
    .navbar-nav {
        width: 100%;
        height: auto!important;
        float: none;
        text-align: center;
        display: block!important;
        margin: 10px 0 0 0;
    }
    .navbar-nav>li>a {
        padding: 15px 10px!important;
    }
    header ul.nav>li:before {
        display: none;
    }
    header ul.nav>li.redes-sociais {
        justify-content: space-evenly;
        margin: 10px 0 30px;
    }
    .vitrine img {
        height: 300px;
    }
    .vitrine .conteudo {
        height: 300px;
        margin-top: -300px;
        padding: 0 15px;
    }
    .vitrine h1 {
        font-size: 16px;
    }
    .vitrine h4 {
        font-size: 12px;
    }
    .infografico {
        height: auto;
        padding-bottom: 15px;
    }
    .flip {
        margin-bottom: 15px;
    }
    .itens {
        padding: 30px 0;
    }
    .itens .btn-azul {
        margin-bottom: 30px;
    }
    .fale-conosco {
        padding: 30px 0;
    }
    .fale-conosco form {
        padding: 30px 15px;
    }
    .menu-footer ul.nav>li:before {
        display: none;
    }
    .menu-footer ul.nav.navbar-nav.pull-right {
        display: flex!important;
        justify-content: center;
    }
    footer span {
        text-align: center;
        margin-bottom: 20px;
    }
    .iframe-geral {
        margin: 30px auto;
        width: 100%;
        height: 300px;
    }
    .quem-somos .item {
        display: block;
    }
    .quem-somos img {
        width: 200px;
        height: 200px;
        float: none;
        margin: 0 auto 10px!important;
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-header img {
        width: 180px;
    }
    header ul.nav>li>a {
        font-size: 10px;
        padding: 0 5px 0 10px;
    }
    .flip > .front h2 {
        font-size: 16px;
    }
    .flip > .back p {
        font-size: 12px;
    }
    .itens span {
        font-size: 16px;
    }
    .itens h4 {
        font-size: 12px;
    }
    .itens h3 {
        font-size: 14px;
    }
    .itens p {
        font-size: 12px;
    }
}
@media (min-width: 992px) and (max-width: 1024px) {
    .navbar-header img {
        width: 230px;
    }
}